body {
  font-family: "Inter", sans-serif;
}

.lux-form:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
  transition: all 0.3s ease;
}

.lux-input:focus {
  border-color: #ef4444;
  box-shadow: 0 0 0 3px rgba(239, 68, 68, 0.2);
}

.lux-button:hover {
  background-color: #991b1b;
  transform: translateY(-1px);
  box-shadow: 0 6px 14px rgba(153, 27, 27, 0.4);
}
