body {
  font-family: "Inter", sans-serif;
}

.lux-form:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
  transition: all 0.3s ease;
}

.lux-input:hover {
  border-color: #f87171;
  /* đỏ nhạt */
}

.lux-input:focus {
  border-color: #ef4444;
  /* đỏ chính */
  box-shadow: 0 0 0 3px rgba(239, 68, 68, 0.2);
}

.lux-button {
  transition: all 0.3s ease;
}

.lux-button:hover {
  background-color: #b91c1c;
  transform: translateY(-1px) scale(1.02);
  box-shadow: 0 8px 18px rgba(185, 28, 28, 0.4);
}

#success-alert {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 280px;
  max-width: 90%;
  background-color: #ecfdf5;

  border-left: 4px solid #10b981;    /* border-left dày hơn */
  color: #065f46;
  padding: 1rem 1.5rem;
  border-radius: 0.2rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(20px);
  z-index: 50;
  display: flex;
  align-items: center;
  gap: 0.75rem;      /* khoảng trống giữa icon và text */
}
#success-alert.show {
  opacity: 1;
  transform: translateY(0);
}